<div class="space-y-6">
  <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4">
    <shared-title title="Menús" description="Administra la sucursal seleccionada" />

    <div class="flex items-center gap-2 self-start sm:self-auto">
      <button
        class="rounded-xl bg-black text-white px-4 py-2 hover:opacity-90 disabled:opacity-50 transition-all hover:animate-scale"
        (click)="openCreate()"
        [disabled]="!branchId()"
        aria-label="Crear nuevo menú"
      >
        <div class="flex items-center gap-2">
          <lucide-icon [img]="iconsService.add" size="15" color="white"></lucide-icon>
          <span> Nuevo menú </span>
        </div>
      </button>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-3 items-stretch md:items-center">
    <div class="md:ml-auto flex items-center gap-2">
      <lucide-icon [img]="iconsService.search" size="15" color="black"></lucide-icon>
      <input
        type="text"
        placeholder="Buscar..."
        class="rounded-xl border border-black/10 px-3 py-2 w-64"
        [value]="searchTerm()"
        (input)="updateFilterSearch($event)"
        aria-label="Buscar menús"
      />
    </div>
  </div>
</div>
