<div class="min-h-svh grid md:grid-cols-2">
  <div class="hidden md:block bg-black text-white text-center">
    <div class="h-full flex items-center justify-center p-12">
      <div class="max-w-md">
        <img src="/assets/logo.png" class="invert scale-75"/>
        <!-- <h1 class="text-4xl font-semibold tracking-tight">BotBite</h1> -->
        <p class="text-white/70 text-xl font-semibold tracking-tight mt-4">
          Panel de administración - Acceso seguro
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white text-black flex items-center justify-center p-6">
    <div class="w-full max-w-sm animate-fade-in animate-duration-500">
      <h2 class="text-2xl font-semibold mb-6">Iniciar sesión</h2>

      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <div>
          <label class="block text-sm mb-1">Correo</label>
          <input
            formControlName="email"
            type="email"
            class="w-full rounded-xl border border-black/10 px-4 py-3 outline-none focus:ring-2 focus:ring-black"
            placeholder="ejemplo@gmail.com"
          />
          @if (form.controls.email.invalid && form.controls.email.touched) {
          <p class="mt-1 text-xs text-neutral-500">Ingresa un correo válido</p>
          }
        </div>

        <div>
          <label class="block text-sm mb-1">Contraseña</label>
          <input
            formControlName="password"
            type="password"
            class="w-full rounded-xl border border-black/10 px-4 py-3 outline-none focus:ring-2 focus:ring-black"
            placeholder="••••••••"
          />
          @if (form.controls.password.invalid && form.controls.password.touched) {
          <p class="mt-1 text-xs text-neutral-500">Mínimo 6 caracteres</p>
          }
        </div>

        <button
          type="submit"
          [disabled]="form.invalid || loading()"
          class="w-full rounded-xl bg-black text-white py-3 disabled:opacity-50 transition-all hover:opacity-90 hover:animate-scale"
        >
          @if (!loading()) {
          <span>Entrar</span>
          } @else {
          <span>Procesando...</span>
          }
        </button>
      </form>

      <p class="mt-6 text-xs text-neutral-500">
        &copy; {{ date.getFullYear() }} BotBite. Todos los derechos reservados.
      </p>
    </div>
  </div>
</div>
